<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">

  <div class="input-group">
    <span>Parola Curenta</span>
    <input type="password" name="current_password" placeholder="Parola Curenta" formControlName="current_password"
      [(ngModel)]="current_password" [ngClass]="{'form-control-danger': changePasswordForm.get('current_password').touched && changePasswordForm.get('current_password').errors, 'form-control-success': changePasswordForm.get('current_password').touched && changePasswordForm.get('current_password').valid}"
      required>
  </div>
  <div class="input-group">
    <span>Parola Noua</span>
    <input type="password" name="new_password" placeholder="Parola Noua" formControlName="new_password"
      [(ngModel)]="new_password" [ngClass]="{'form-control-danger': changePasswordForm.get('new_password').touched && changePasswordForm.get('new_password').errors, 'form-control-success': changePasswordForm.get('new_password').touched && changePasswordForm.get('new_password').valid}"
      required>
  </div>
  <div class="input-group">
    <span>Confirmare Parola Noua</span>
    <input type="password" name="confirm_new_password" placeholder="Confirmare Parola Noua" formControlName="confirm_new_password"
      [(ngModel)]="confirm_new_password" [ngClass]="{'form-control-danger': changePasswordForm.get('confirm_new_password').touched && changePasswordForm.get('confirm_new_password').errors, 'form-control-success': changePasswordForm.get('confirm_new_password').touched && changePasswordForm.get('confirm_new_password').valid}">
  </div>
  <div *ngIf="changePasswordForm.get('new_password').value != changePasswordForm.get('confirm_new_password').value
                    && changePasswordForm.get('confirm_new_password').value != null">
    <div class="form-control-feedback">
      Passwords don't match
    </div>
  </div>
  <button class="button-type-2 style-extended" type="submit" [disabled]="!changePasswordForm.valid">
    <span>
      Update password
    </span>
  </button>
</form>
