<!-- user/forgot-password -->
<div class="d-flex align-items-center login">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12 text-center mb-4">
      <a [routerLink]="['']" class="logo-login">
        <img src="assets/logo-square.png" alt="">
      </a>
    </div>
    <h4 class="mb-2">Ai uitat parola?</h4>
    <p>Nici o problema, iti vom trimit un mail pentru a reseta parola</p>
    <hr>
    <!-- EMAIL -->
    <div class="input-group mb-2">
      <input class="form-control" type="email" name="email" placeholder="Email" formControlName="email"
        [(ngModel)]="emailAddress" autocomplete="email" />
      <span class="rel-icon">
        <fa-icon [icon]="['fas', 'user-alt']" size="md"></fa-icon>
      </span>
    </div>
    <div *ngIf="form.controls['email'].invalid && (form.controls['email'].dirty || form.controls['email'].touched)"
      class="text-danger mb-2">
      <div *ngIf="form.controls['email'].errors.required">
        Emailul este obligatoriu
      </div>
      <div *ngIf="form.controls['email'].errors.email">
        Emailul trebuie sa fie valid
      </div>
    </div>
    <!-- BUTTONS -->
    <button type="button" class="btn btn-primary btn btn-block mb-2 mt-3"
    type="submit" [disabled]="loading || success">
      Continua
    </button>
    <div *ngIf="!loading && success" class="mb-2 text-center">
      <div>
        Ti-am trimis cu succes un email cu toate instructiunile
      </div>
    </div>
    <div *ngIf="!loading && error" class="mb-2 text-center">
      <div>
        <a [routerLink]="['/sign-up.html']">Creaza-ti un cont acum</a>
      </div>
    </div>
    <!-- FOOTER PART -->
    <hr class="mb-2">
    <div class="mb-2 text-center">
      <span>Tocmai ti-ai amintit? </span> <a [routerLink]="['/login.html']"> Intra in cont</a>
    </div>
    <div class="mb-2 text-center">
      <span>Nu ai cont pe AsigurAZ? </span>
      <a [routerLink]="['/sign-up.html']">Creaza-ti acum</a>
    </div>
    <app-loading-element *ngIf="loading"></app-loading-element>
  </form>
</div>
<!-- end user/forgot-password -->
