.select-loading{
    background-repeat: no-repeat;
    //background-image: url('assets/icons/loading.gif');
    background-position-x: right;
    background-position-y: center;
    background-position: 97%;
}
