<!-- user/reset-password -->
<div class="d-flex align-items-center login">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="col-12 text-center mb-4">
      <a [routerLink]="['']" class="logo-login">
        <img src="assets/logo-square.png" alt="">
      </a>
    </div>
    <h4 class="mb-2">Resetare parola</h4>
    <p>Te rugam sa introduci noua parola</p>
    <hr>

    <!-- new_password -->
    <div class="input-group mb-2">
      <input class="form-control" type="password" name="new_password" placeholder="Noua Parola" formControlName="new_password"
        [(ngModel)]="new_password" />
      <span class="rel-icon">
        <fa-icon [icon]="['fas', 'key']" size="md"></fa-icon>
      </span>
    </div>
    <div *ngIf="form.controls['new_password'].invalid && (form.controls['new_password'].dirty || form.controls['new_password'].touched)"
      class="text-danger mb-2">
      <div *ngIf="form.controls['new_password'].errors.required">
        Campul este obligatoriu
      </div>
    </div>
    <!-- new_password -->

    <!-- confirm_new_password -->
    <div class="input-group mb-2">
      <input class="form-control" type="password" name="confirm_new_password" placeholder="Confirmare Parola" formControlName="confirm_new_password"/>
      <span class="rel-icon">
        <fa-icon [icon]="['fas', 'key']" size="md"></fa-icon>
      </span>
    </div>
    <div *ngIf="form.controls['confirm_new_password'].invalid && (form.controls['confirm_new_password'].dirty || form.controls['confirm_new_password'].touched)"
      class="text-danger mb-2">
      <div *ngIf="form.controls['confirm_new_password'].errors.required">
        Campul este obligatoriu
      </div>
      <div *ngIf="form.get('confirm_new_password').touched &&
      form.get('new_password').touched && form.get('confirm_new_password').valid &&
      form.get('new_password').valid && form.get('confirm_new_password').value !== form.get('new_password').value">
        Parolele nu se potrivesc
      </div>
    </div>
    <!-- confirm_new_password -->

    <!-- BUTTONS -->
    <button type="button" class="btn btn-primary btn btn-block mb-2 mt-3"
    type="submit" [disabled]="loading || success">
      Salveaza
    </button>
    <div *ngIf="!loading && success" class="mb-2 text-center">
      <div>
          Parola dumneavoastra a fost schimbata cu succes.
      </div>
    </div>
    <div *ngIf="!loading && error" class="mb-2 text-center">
      <div>
        Sesiunea dumneavostra a expirat sau este invalida.<br />
        <a [routerLink]="['/forgot-password.html']">Retrimiteti e-mailul</a>
      </div>
    </div>
    <!-- FOOTER PART -->
    <hr class="mb-2">
    <div class="mb-2 text-center" *ngIf="success">
      <span> </span> <a [routerLink]="['/login.html']">Intra in cont</a>
    </div>
    <app-loading-element *ngIf="loading"></app-loading-element>
  </form>
</div>
<!-- end user/reset-password -->
