<!-- auth/register-success -->
<div class="sample-form-2 login">
    <form>
      <div class="form-description">
        <h3>Register Success</h3>
        <p></p>
      </div>
      <div class="form-group">
          <div class="form-control-feedback">
            We successfully created your new account.
          </div>
          <div class="form-control-feedback">
              Please confirm your email address and
          </div>
      </div>
      <div class="form-group">
          <a class="btn btn-success btn-rounded" routerLink='/auth/login'>Sign in here</a>
      </div>
      <div class="links">
          <p>
            You didn't receive an confirmation email ?
            <a routerLink="/auth/resend-confirm-email">Click here</a>
          </p>
      </div>
    </form>
  </div>
<!-- end auth/register-success -->

