
.shop-total .title-numb .h14 {
  color: rgba(255, 255, 255, 0.5) !important;
}

.h14 a {
  color: #fff !important;
  font-weight: bold;
}
/* 
.shop-total{
  height: 110px !important;
} */

.shop-panel-wrap{
  bottom: 0 !important;
}
