<!--==========MAIN CONTENT============-->
<section class="top-baner main-content no-margin lg-auto-height">
  <div class="team-slide-item-wrap">

    <section class="section-fullpage">
      <!-- 1920x965 -->
      <div class="bg" style="background-image: url(assets/despre-noi-bg.jpg)">
        <div class="layer-bg-2"></div>
      </div>
      <div class="container">
        <div class="title-second type-2 col-style-1">
          <div class="sub-title">Afla despre valorile noastre</div>
          <h2 class="title h5">Salut, noi suntem AsigurAZ</h2>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service-item type-3">
              <div class="image">
                <img src="assets/icon-despre-noi-1.png" alt="">
              </div>
              <div class="text">
                <h5 class="title">Calitate</h5>
                <div class="simple-text col-type-5 md">
                  <p>
                    Devenind clientul nostru, te vei afla in centrul unei retele vaste de profesionisti care vin sa iti ofere solutiile optime
                    pentru nevoile tale de protectie prin asigurare.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service-item type-3">
              <div class="image">
                <img src="assets/icon-despre-noi-2.png" alt="">
              </div>
              <div class="text">
                <h5 class="title">Acces usor la informatii</h5>
                <div class="simple-text col-type-5 md">
                  <p>
                    Cautam intotdeuna o cale mai eficienta pentru ca tu sa ai acces usor la informatiile relevante pentru tine, prin platforma
                    online, aplicatia pentru smartphone sau in comunicarea cu colegii nostri
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service-item type-3">
              <div class="image">
                <img src="assets/icon-despre-noi-3.png" alt="">
              </div>
              <div class="text">
                <h5 class="title">Cele mai bune preturi</h5>
                <div class="simple-text col-type-5 md">
                  <p>
                    Tu alegi varianta de protectie prin asigurare care sa raspunda cel mai bine nevoilor tale. Cu noi economisesti timp si bani
                    pentru ca asiguram un raport optim intre pretul si calitatea asigurari.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service-item type-3">
              <div class="image">
                <img src="assets/icon-despre-noi-4.png" alt="">
              </div>
              <div class="text">
                <h5 class="title">Progress continuu</h5>
                <div class="simple-text col-type-5 md">
                  <p>Oferim solutii de plata online prin intermediului cardului bancar, cu ajutorul tehnologiei "3D secure" ce permite cresterea securitatii tranzactiilor online. Astfel se elimina riscul de frauda prin copierea informatiilor de plata si tu iti poti achizitiona asigurarea fara griji.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service-item type-3">
              <div class="image">
                <img src="assets/icon-despre-noi-5.png" alt="">
              </div>
              <div class="text">
                <h5 class="title">Cei mai buni parteneri</h5>
                <div class="simple-text col-type-5 md">
                  <p>Venim cu solutia cea mai buna pentru nevoile tale de protectie prin asigurare, colaborand in acest sens cu peste 20 de asiguratori din Romania.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-sm-4 col-xs-12">
            <div class="service-item type-3">
              <div class="image">
                <img src="assets/icon-despre-noi-6.png" alt="">
              </div>
              <div class="text">
                <h5 class="title">O noua viziune</h5>
                <div class="simple-text col-type-5 md">
                  <p>Viziunea noastra este de a stabili excelenta ca si standard in relatia cu tine, clientul nostru. Investim in oameni, si recrutam continuu pentru ca nevoile tale de protectie prin asigurare sa fie la un click distanta.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-button">
          <a [routerLink]="['/asigurare-rca.html']" class="button-type-4">
            <span>Vezi serviciile oferite de noi</span>
          </a>
        </div>
      </div>
    </section>

    <section class="main-content no-top">
      <div class="analitic-block bg-grey">
        <div class="container">
          <div class="title-second">
            <h4 class="h4 title">Statistici</h4>
            <div class="row">
              <div class="col-md-12 ">
                <div class="simple-text lg col-type-1">
                  <p>Ce am reusit sa acumulam pana acum</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row time-line">
            <div class="col-12">
              <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="circle-item">
                    <div class="skill-circle" id="skill-circle-3" data-border="outline" data-dimension="210" data-bgcolor="#caccca" data-width="5"
                      data-percent="65" data-fgcolor="#ee312f" data-animationstep="1">
                      <div class="skill-line">
                        <span class="timer" data-to="10" data-speed="720">1</span>
                        <b>M</b>
                      </div>
                    </div>
                    <h5 class="title">Polite de asigurare emise</h5>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="circle-item">
                    <div class="skill-circle" id="skill-circle-2" data-border="outline" data-dimension="210" data-bgcolor="#caccca" data-width="5"
                      data-percent="75" data-fgcolor="#224093" data-animationstep="1">
                      <div class="skill-line">
                        <span class="timer" data-to="1400" data-speed="630">9</span>
                        <b>k</b>
                      </div>
                    </div>
                    <h5 class="title">Clienti activi</h5>
                  </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                  <div class="circle-item">
                    <div class="skill-circle" id="skill-circle-1" data-border="outline" data-dimension="210" data-bgcolor="#caccca" data-width="5"
                      data-percent="90" data-fgcolor="#229375" data-animationstep="1">
                      <div class="skill-line">
                        <span class="timer" data-to="25" data-speed="810">1</span>
                        <b>ani</b>
                      </div>
                    </div>
                    <h5 class="title">Experienta in Asigurari</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

     <!-- 1918x910
    <section class="section-fullpage">
     
      <div class="bg-wrap">
        <div class="bg" style="background-image: url(assets/despre-noi/procesul-nostru.jpg)">
          <div class="layer-bg-2"></div>
        </div>
      </div>
      <div class="container">
        <div class="title-second type-2 col-style-1">
          <div class="sub-title">Procesul nostru</div>
          <h2 class="title h5">La cativa pasi distanta de perfectiune</h2>
        </div>
        <div class="slider-swiching">
          <ul class="tab-links step-swich-link">
            <li class="slide-swich active step-icon-item">
              <div class="image">
                <img src="assets/step_icon_2.png" alt="" class="img-in">
                <img src="assets/step_icon_2_hover.png" alt="" class="img-out">
              </div>
              <h5 class="title h10">Identificam problema</h5>
            </li>
            <li class="slide-swich step-icon-item">
              <div class="image">
                <img src="assets/step_icon_1.png" alt="" class="img-in">
                <img src="assets/step_icon_1_hover.png" alt="" class="img-out">
              </div>
              <h5 class="title h10">Cream idei</h5>
            </li>

            <li class="slide-swich step-icon-item">
              <div class="image">
                <img src="assets/step_icon_3.png" alt="" class="img-in">
                <img src="assets/step_icon_3_hover.png" alt="" class="img-out">
              </div>
              <h5 class="title h10">Alegem cea ce e mai bun</h5>
            </li>
            <li class="slide-swich step-icon-item">
              <div class="image">
                <img src="assets/step_icon_4.png" alt="" class="img-in">
                <img src="assets/step_icon_4_hover.png" alt="" class="img-out">
              </div>
              <h5 class="title h10">Impartasesim experienta</h5>
            </li>
          </ul>
          <div class="swiper-container container-swich swich-parent swiper-swiper-unique-id-1 initialized swiper-container-horizontal"
            data-autoplay="0" data-effect="slide" data-slides-per-view="1" data-loop="0" data-speed="800" data-center="0" id="swiper-unique-id-1">
            <div class="swiper-wrapper">
              <div class="swiper-slide swiper-slide-active" style="width: 934px;">
                <div class="step-slider-item">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="row vertical-wrap">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                          <div class="image">
                            <img src="https://caraccidentsinorlando.com/wp-content/uploads/2017/10/car-accident-documentation.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                          <div class="text">
                            <h4 class="title"> Identificam
                              <i>problemele</i> existente</h4>
                            <div class="simple-text xs col-type-6">
                              <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                                model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                Various versions have evolved over the year</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-slide-next" style="width: 934px;">
                <div class="step-slider-item">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="row vertical-wrap">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                          <div class="image">
                            <img src="https://i.stack.imgur.com/W1J27.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                          <div class="text">
                            <h4 class="title">Gasim
                              <i>solutia perfecta</i> pentru fiecare situatie</h4>
                            <div class="simple-text xs col-type-6">
                              <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                                model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                Various versions have evolved over the year</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" style="width: 934px;">
                <div class="step-slider-item">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="row vertical-wrap">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                          <div class="image">
                            <img src="https://cdn.shopify.com/s/files/1/2026/2459/articles/ENDED_ICOSNEO_CMC_2_1400x.progressive.png.jpg?v=1516456941"
                              alt="">
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                          <div class="text">
                            <h4 class="title">Filtram cu atentie optiunile pentru a face alegerea
                              <i>cea mai buna</i>
                            </h4>
                            <div class="simple-text xs col-type-6">
                              <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                                model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                Various versions have evolved over the year</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide" style="width: 934px;">
                <div class="step-slider-item">
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="row vertical-wrap">
                        <div class="col-md-5 col-sm-12 col-xs-12">
                          <div class="image">
                            <img src="https://www.families.com/wp-content/uploads/media/child-giving-grandma-flowers.jpg" alt="">
                          </div>
                        </div>
                        <div class="col-md-7 col-sm-12 col-xs-12">
                          <div class="text">
                            <h4 class="title">Tot timpul
                              <i>impartasim</i> experientele minunate</h4>
                            <div class="simple-text xs col-type-6">
                              <p>Many desktop publishing packages and web page editors now use Lorem Ipsum as their default
                                model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
                                Various versions have evolved over the year</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pagination hidden pagination-swiper-unique-id-1 swiper-pagination-clickable swiper-pagination-bullets">
              <span class="swiper-pagination-bullet swiper-pagination-bullet-active"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
              <span class="swiper-pagination-bullet"></span>
            </div>
          </div>
        </div>

      </div>
    </section> -->

    <section class="main-content no-top">
      <div class="client-block bg-white">
        <div class="container">
          <div class="title-second">
            <h4 class="h4 title">Parteneri Principali</h4>
            <div class="col-12">
              <div class="client-item">
                <a href="#">
                  <img src="assets/parteneri/inter-broker.png" alt="">
                </a>
              </div>
            </div>
          </div>

          <!-- <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="client-item">
                <a href="#">
                  <img src="http://ramp-ops.com/app/assets/images/logo.svg" alt="">
                </a>
              </div>
            </div>
            
            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="client-item">
                <a href="#">
                  <img src="http://deratizareoradea.ro/wp-content/uploads/2017/09/logo-Auto-Siena-Oradea.png" alt="">
                </a>
              </div>
            </div>
          </div> -->

          <div class="title-second">
            <h4 class="h4 title">Parteneri</h4>
            <div class="row">
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Allianz.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Abc.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Asirom.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Carpatica.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/CertAsig.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Chartis.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/City-Insurance.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Credit-Europe.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Euroins.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/CertAsig.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Generali.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Gothaer.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Grerroma.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Groupama.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Omniasig.jpg" alt="">
                  </a>
                </div>
              </div>
              <div class="col-md-3 col-sm-3 col-xs-12">
                <div class="client-item">
                  <a href="#">
                    <img src="assets/parteneri/Uniqua.jpg" alt="">
                  </a>
                </div>
              </div>
            </div>
          </div>

          

        </div>
      </div>
    </section>

  </div>
</section>

<div class="about-tags-block bg-grey">
  <div class="inside-img">
    <img src="assets/connect-1.png" alt="">
    <img src="assets/connect-2.png" alt="">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="h6 title">Hai sa ne interconnectam!</h2>
        <div class="simple-text lg col-type-1">
          <p>Suntem activi si pe retelele de socializare.
            <br />Fii mereu la curent cu cele mai bune oferte.</p>
        </div>
        <div class="button-wrapper">
          <a href="https://facebook.com/asiguraz" target="_black" class="button-type-1">
            <span data-text="Facebook">Facebook</span>
          </a>
          <a href="https://instagram.com/asiguraz" target="_black" class="button-type-1">
            <span data-text="Instagram">Instagram</span>
          </a>
          <a href="https://www.linkedin.com/company/asiguraz" target="_black" class="button-type-1">
            <span data-text="LinkedIn">LinkedIn</span>
          </a>
          <a href="https://www.twitter.com/todo" target="_black" class="button-type-1">
            <span data-text="Twitter">Twitter</span>
          </a>
          <!-- <a href="#" class="button-type-1">
            <span data-text="Tumblr">Tumblr</span>
          </a> -->
          <!-- <a href="#" class="button-type-1">
            <span data-text="Pinterest">Pinterest</span>
          </a> -->
           <!-- <a href="#" class="button-type-1">
            <span data-text="Google+">Google+</span>
          </a> -->
          <!-- <a href="#" class="button-type-1">
            <span data-text="classy">classy</span>
          </a>
          <a href="#" class="button-type-1">
            <span data-text="interior">interior</span>
          </a>
          <a href="#" class="button-type-1">
            <span data-text="minimal">minimal</span>
          </a>
          <a href="#" class="button-type-1">
            <span data-text="ultralinx">ultralinx</span>
          </a> -->
        </div>
      </div>
    </div>
  </div>
</div>
