<!--==========MAIN CONTENT============-->
<section class="main-content no-top home">
  <div class="over-wrap-hidden">
    <div class="bg scroll-fade padd" style="background-image: url(assets/home/banner-1-small.jpg)">
      <div class="layer-bg-1"></div>
    </div>
    <div class="fade-elem">
      <div class="main-title type-1 col-white vertical-align full">
        <h1 class="h1 lg">
          <span class="text-animation" data-first="Asigurari de la A la Z" data-second="Bine ai venit!" data-third="Cu ce te putem ajuta azi?"></span>
          <span class="typed-cursor"></span>
        </h1>
        <h5 class="h14">Probabil cel mai bun site de asigurari din Romania</h5>
        <a [routerLink]="['/asigurare-rca.html']" class="button-type-white mt-4">
          <span data-text="Obtine Oferta Acum">Obtine Oferta Acum</span>
        </a>
      </div>
    </div>
  </div>
  <div class="about-team-block bg-grey slider-swiching">
    <div class="column-50 full-h align-parent">
      <div class="swiper-container full-h container-swich" data-autoplay="0" data-effect="fade" data-slides-per-view="1" data-loop="0"
        data-speed="800" data-center="0">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="bg elem" style="background-image: url(assets/home/asigurari-rca.jpg)"></div>
          </div>
          <div class="swiper-slide">
            <div class="bg elem" style="background-image: url(assets/home/asigurari-casco.jpg)"></div>
          </div>
          <div class="swiper-slide">
            <div class="bg elem" style="background-image: url(assets/home/asigurari-calatorii.jpg)"></div>
          </div>
          <div class="swiper-slide">
            <div class="bg elem" style="background-image: url(assets/home/asigurari-locuinta.jpg)"></div>
          </div>
        </div>
        <div class="pagination hidden"></div>
      </div>
    </div>
    <div class="column-50 align-parent desc-block">
      <ul class="tab-links tumbs-item">
        <li class="slide-swich active">
          <!-- 70x70 -->
          <img src="assets/home/asigurari-rca-thumb.jpg" alt="">
        </li>
        <li class="slide-swich">
          <img src="assets/home/asigurari-casco-thumb.jpg" alt="">
        </li>
        <li class="slide-swich">
          <img src="assets/home/asigurari-calatorii-thumb.jpg" alt="">
        </li>
        <li class="slide-swich">
          <img src="assets/home/asigurari-locuinta-thumb.jpg" alt="">
        </li>
      </ul>
      <div class="swiper-container swich-parent slider-animation" data-autoplay="0" data-effect="fade" data-slides-per-view="1"
        data-loop="0" data-speed="800" data-center="0">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="team-desc">
              <h4 class="h4 title">Asigurari RCA</h4>
              <div class="simple-text lg col-type-1">
                <p>
                  Asigurari RCA:  sau Asigurarea de Raspundere Civila Auto, este o asigurare obligatorie de raspundere civila conform legislatiei in vigoare. Scopul principal al acestei forme de asigurare este acela de a oferi protectie financiara impotriva daunelor fizice sau a vatamarilor corporale rezultate din accidente rutiere in cazul in care este implicat cel putin un autovehicul. Circulatia pe drumurile publice cu un vehicul neasigurat se reprezinta contraventie si se pedepseste conform legii.
                </p>
              </div>
              <div class="team-follow-wrap mb-3">
                <a [routerLink]="['/asigurare-rca.html']" class="button-type-1">
                  <span data-text="Compara oferte">Compara oferte</span>
                </a>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-desc">
              <h4 class="h4 title">Asigurari Casco</h4>
              <div class="simple-text lg col-type-1">
                <p>
                  Asigurari CASCO. Termenul CASCO provine din limba engleza si inseamna "Casualty and Collision" . Spre deosebinre de asigurare RCA, asigurarea CASCO al carei scop principal este de a proteja pagubitii intr-un accident rutier, asigurarea CASCO ofera protectie financiara impotriva daunelor fizice sau vatamarilor corporale, persoanelor vinovate de producerea unui accident rutier.
                </p>
              </div>
              <div class="team-follow-wrap mb-3">
                <button class="button-type-1" disabled>
                  <span data-text="In curand...">Iti pregatim cele mai bune oferte</span>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-desc">
              <h4 class="h4 title">Asigurari de Calatorie</h4>
              <div class="simple-text lg col-type-1">
                <p>
                  Asigurari de calatorie Scopul acestor asigurari este de a acoperi cheltuielile medicale, anularea calatoriei, pierderea sau furtul bagajelor persoanelor asigurate. Este o asigurare care se poate incheia pe durata unei calatorii sau pot sa acopere mai multe calatorii pe o anumita durata de timp.
                </p>
              </div>
              <div class="team-follow-wrap mb-3">
                <button class="button-type-1" disabled>
                  <span data-text="In curand...">Iti pregatim cele mai bune oferte</span>
                </button>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="team-desc">
              <h4 class="h4 title">Asigurari de Locuinta</h4>
              <div class="simple-text lg col-type-1">
                <p>
                  Asigurari de Locuinta: Este un tip de asigurare facultativa care oferta protectie financiara in cazul aparitiei evenimentului asigurat cum ar fi: dezastre, avarii accidentale, furt,etc. Aceste forme de asigurari pot sa acopere imobilul si/sau continutul acestuia.
                </p>
              </div>
              <div class="team-follow-wrap mb-3">
                <button class="button-type-1" disabled>
                  <span data-text="In curand...">Iti pregatim cele mai bune oferte</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination hidden"></div>
      </div>
    </div>
  </div>
</section>
