<section class="top-baner main-content main-content-bg no-margin lg-auto-height">
  <div class="team-slide-item-wrap user-content">

    <!-- <app-loading-element *ngIf='loading'></app-loading-element> -->
    <div class="row row-bg">
      <div class="col-12">
          <h2 class="m-0">Setarile applicatiei</h2>
      </div>
      <div class="col-lg-2 col-12 mt-4">
          <app-user-menu></app-user-menu>
      </div>
      <div class="col-lg-10 col-12 mt-4">
        <div class="card-item">
          <div class="text">
            <div class="title">
              <label class="checkmark-container">
                Doresc sa primesc materiale promotionale
                <input type="checkbox" checked="true">
                <span class="checkmark"></span>
              </label>
            </div>
            <br />
            <div class="title">
              <label class="checkmark-container">
                Doresc sa fii informat de urmatoarele campanii
                <input type="checkbox" checked="true">
                <span class="checkmark"></span>
              </label>
            </div>
            <br />
            <a class="title">
              Doresc sa fiu contactat in legatura cu serviciile de asigurare prin:
            </a>
            <br />
            <a class="title">
              <label class="checkmark-container">
                Email
                <input type="checkbox" checked="true">
                <span class="checkmark"></span>
              </label>
            </a>
            <a class="title">
              <label class="checkmark-container">
                SMS
                <input type="checkbox" checked="true">
                <span class="checkmark"></span>
              </label>
            </a>
            <a class="title">
              <label class="checkmark-container">
                Telefonic
                <input type="checkbox" checked="true">
                <span class="checkmark"></span>
              </label>
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
