<!--==========MAIN CONTENT============-->
<section class="top-baner top-baner-servicii top-baner-default main-content no-margin lg-auto-height">
  <div class="team-slide-item-wrap">
    <div class="team-slide-item" style="border-left: none !important;">
      <div class="bg" style="background-image: url(assets/home/asigurari-rca.jpg)">
        <div class="layer-bg-3"></div>
      </div>
      <div class="vertical-align full">
        <div class="detail-desc">
          <div class="sub-title">Despre</div>
          <h2 class="title">Asigurare RCA</h2>
          <div class="simple-text md col-type-6">
            <p>Asigurari RCA:  sau Asigurarea de Raspundere Civila Auto, este o asigurare obligatorie de raspundere civila conform legislatiei in vigoare. Scopul principal al acestei forme de asigurare este acela de a oferi protectie financiara impotriva daunelor fizice sau a vatamarilor corporale rezultate din accidente rutiere in cazul in care este implicat cel putin un autovehicul. Circulatia pe drumurile publice cu un vehicul neasigurat se reprezinta contraventie si se pedepseste conform legii.</p>
          </div>
          <div class="simple-text md col-type-6"></div>
          <div class="link">
            <a [routerLink]="['/asigurare-rca.html']" class="button-type-2 style-2">
              <span>Compara Preturi</span>
            </a>
          </div>
        </div>
      </div>
      <div class="vertical-align full">
        <div class="desc">
          <h4 class="title">Asigurare RCA</h4>
          <div class="sub-title">RCA Acum</div>
        </div>
      </div>
    </div>
    <div class="team-slide-item">
      <div class="bg" style="background-image: url(assets/home/asigurari-casco.jpg)">
        <div class="layer-bg-3"></div>
      </div>
      <div class="vertical-align full">
        <div class="detail-desc">
          <div class="sub-title">Despre</div>
          <h2 class="title">Asigurari CASCO</h2>
          <div class="simple-text md col-type-6">
            <p>
              Asigurari CASCO. Termenul CASCO provine din limba engleza si inseamna "Casualty and Collision" . Spre deosebinre de asigurare RCA, asigurarea CASCO al carei scop principal este de a proteja pagubitii intr-un accident rutier, asigurarea CASCO ofera protectie financiara impotriva daunelor fizice sau vatamarilor corporale, persoanelor vinovate de producerea unui accident rutier.
            </p>
          </div>
          <div class="link">
            <a class="button-type-2 style-2">
              <span>Iti pregatim cele mai bune oferte</span>
            </a>
          </div>
        </div>
      </div>
      <div class="vertical-align full">
        <div class="desc">
          <h4 class="title">Asigurari CASCO</h4>
          <div class="sub-title">CASCO Acum</div>
        </div>
      </div>
    </div>
    <div class="team-slide-item">
      <div class="bg" style="background-image: url(assets/home/asigurari-calatorii.jpg)">
        <div class="layer-bg-3"></div>
      </div>
      <div class="vertical-align full">
        <div class="detail-desc">
          <div class="sub-title">Despre</div>
          <h2 class="title">Asigurari de Calatorie</h2>
          <div class="simple-text md col-type-6">
            <p>
              Asigurari de calatorie Scopul acestor asigurari este de a acoperi cheltuielile medicale, anularea calatoriei, pierderea sau furtul bagajelor persoanelor asigurate. Este o asigurare care se poate incheia pe durata unei calatorii sau pot sa acopere mai multe calatorii pe o anumita durata de timp.
            </p>
          </div>
          <div class="link">
            <a class="button-type-2 style-2">
              <span>Iti pregatim cele mai bune oferte</span>
            </a>
          </div>
        </div>
      </div>
      <div class="vertical-align full">
        <div class="desc">
          <h4 class="title">Asigurari de Calatorie</h4>
          <div class="sub-title">Travel Acum</div>
        </div>
      </div>
    </div>
    <div class="team-slide-item" style="border-right: none !important;">
      <div class="bg" style="background-image: url(assets/home/asigurari-locuinta.jpg)">
        <div class="layer-bg-3"></div>
      </div>
      <div class="vertical-align full">
        <div class="detail-desc">
          <div class="sub-title">Despre</div>
          <h2 class="title">Asigurari de Locuinte</h2>
          <div class="simple-text md col-type-6">
            <p>
              Asigurari de Locuinta: Este un tip de asigurare facultativa care oferta protectie financiara in cazul aparitiei evenimentului asigurat cum ar fi: dezastre, avarii accidentale, furt,etc. Aceste forme de asigurari pot sa acopere imobilul si/sau continutul acestuia.
            </p>
          </div>
          <div class="link">
            <a class="button-type-2 style-2">
              <span>Iti pregatim cele mai bune oferte</span>
            </a>
          </div>
        </div>
      </div>
      <div class="vertical-align full">
        <div class="desc">
          <h4 class="title">Asigurari Locuinte</h4>
          <div class="sub-title">Acasa Acum</div>
        </div>
      </div>
    </div>
  </div>
</section>
