$fa-font-path:        "../webfonts";

//colors
$primary: #224093;
$red: #ee312f;
$red-dark: #cf202b;
$green: #229375;
$white: #fff;
$black: #000;
$gray: #bdbec0;
$facebook: #3b5999;
$google: #ea4335;
$gradient: linear-gradient(rgba(239, 50, 48, 0.6), rgba(34, 64, 147, 0.6));
$gradient-inversed: linear-gradient(rgba(34, 64, 147, 0.6), rgba(239, 50, 48, 0.6));
$gradient-red: rgba(239, 50, 48, 0.6);
$gradient-blue: rgba(34, 64, 147, 0.6);

//sizes
$header-bar: 60px;