<section class="top-baner main-content main-content-bg no-margin lg-auto-height">
  <div class="team-slide-item-wrap dashboard">
    <div class="row row-bg">
      <div class="col-md-12">
        <h2 class="fs-title" >Profilul Meu</h2>
      </div>
      <div class="col col-md-2">
        <app-user-menu></app-user-menu>
      </div>
      <div class="col col-md-10">
        <div class="user-profile-top">
          dashboard
          <a [routerLink]="['setari']">setari</a>
        </div>
      </div>
    </div>

  </div>
</section>
